.body {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

$theme-colors: (
  "primary": #0074d9,
  "danger": rgb(233, 0, 0)
);

/* import bootstrap to set changes */
@import "node_modules/bootstrap/scss/bootstrap";