.landing {
    display: flex;
    flex-direction: column;
    padding-top: 140px;

    .carousel {
        background-image: url("../../../img/doggo.jpg");
        background-repeat: no-repeat;
        height: 100%;
        min-height: 700px;

        .content-wrapper {
            padding-left: 20%;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: snow;
                height: 100%;
                position: absolute;
                width: 30%;

                .title {
                    font-family: "Roboto Condensed";
                    font-size: 60px;
                    font-weight: bold;
                    line-height: normal;
                    text-transform: uppercase;
                }

                .discription {
                    font-size: 20px;
                }

                button {
                    font-weight: bold;
                    padding: 8px 35px;
                    width: fit-content;
                }
            }
        }
    }

    .banners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 30px;

        .banner-x {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 10px solid snow;
            border-radius: 5%;
            margin-top: -110px;
            position: relative;
            cursor: pointer;

            .gallery {
                border-radius: 5%;
                width: 260px;
                z-index: 2;
            }

            .round {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: red;
                border-radius: 50%;
                color: snow;
                font-size: 40px;
                height: 90px;
                margin-top: -45px;
                width: 90px;
                z-index: 2;
            }

            p {
                font-size: 20px;
                font-weight: bold;
                margin-top: 15px;
                text-transform: uppercase;
            }
        }
    }

    .newsletter {
        display: flex;
        align-items: center;
        justify-content: center;

        .input-group {
            height: max-content;
            width: auto;

            .form-control {
                border: 1px solid #b9b9b9;
                width: 300px;
            }
        }
    }
}